<h2>Funkcjonalności</h2>

<div>
  <input type="text" [(ngModel)]="newFeatureName" placeholder="Nazwa funkcjonalności">
  <button (click)="addFeature()">Dodaj funkcjonalność</button>
</div>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nazwa</th>
      <th>Zadania</th>
      <th>Akcje</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let feature of features">
      <td>{{ feature.id }}</td>
      <td>
        <ng-container *ngIf="!feature.editMode; else editModeTemplate">
          {{ feature.name }}
        </ng-container>
        <ng-template #editModeTemplate>
          <input type="text" [(ngModel)]="feature.newName">
        </ng-template>
      </td>
      <td>
        <ul>
          <li *ngFor="let task of getTasksForFeature(feature.id)">
            {{ task.name }}
          </li>
        </ul>
      </td>
      <td>
        <button *ngIf="!feature.editMode" (click)="editFeature(feature)">Edytuj</button>
        <button *ngIf="feature.editMode" (click)="saveFeature(feature)">Zapisz</button>
        <button (click)="deleteFeature(feature.id)">Usuń</button>
      </td>
    </tr>
  </tbody>
</table>