<div class="app-tasks">
  <h2>Zadania</h2>
  <select [(ngModel)]="selectedFeatureId" (change)="loadTasks()">
    <option value="0">Wszystjie funkcjonalności</option>
    <option *ngFor="let feature of features" [value]="feature.id">{{ feature.name }}</option>
  </select>

  <div class="add-task">
    <input type="text" [(ngModel)]="newTaskName" placeholder="Nazwa zadania" />
    <button (click)="addTask()">Dodaj zadanie</button>
  </div>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nazwa</th>
        <th>Status</th>
        <th>Funkcjonalność</th>
        <th>Akcje</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks">
        <td>{{ task.id }}</td>
        <td>
          <ng-container *ngIf="!task.editMode; else editModeTemplate">
            {{ task.name }}
          </ng-container>
          <ng-template #editModeTemplate>
            <input type="text" [(ngModel)]="task.name">
          </ng-template>
        </td>
        <td>{{ task.status }}</td>
        <td>{{ getFeatureName(task.featureId) }}</td>
        <td>
          <button *ngIf="!task.editMode" (click)="editTask(task)">Edytuj</button>
          <button *ngIf="task.editMode" (click)="saveTask(task)">Zapisz</button>
          <button (click)="deleteTask(task.id)">Usuń</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>